# SPDX-FileCopyrightText: 2019 Free Software Foundation Europe e.V.
#
# SPDX-License-Identifier: GPL-3.0-or-later

# These files will not be deployed to the docker image.

# Docker
.dockerignore
docker-compose*
Dockerfile*

# Documentation
doc
README.md

# Git
.git
.gitignore

.drone.yml
.renovaterc.json5
LICENSES
Makefile

# The following directories are created by the "quality" step in drone, which
# runs before the docker image is built.
.pytest_cache
**/__pycache__
