# SPDX-FileCopyrightText: 2019 Free Software Foundation Europe e.V.
#
# SPDX-License-Identifier: GPL-3.0-or-later

# Test data
database.sqlite
repos.json

# Created by Python running locally
__pycache__/

# Created by setup.py
build/
dist/
*.egg-info/

# Created by pytest
.pytest_cache/
.coverage
htmlcov
.env
