# SPDX-FileCopyrightText: 2019 Free Software Foundation Europe e.V.
#
# SPDX-License-Identifier: GPL-3.0-or-later

services:
  reuse-api:
    container_name: reuse-api
    image: reuse-api
    restart: always
    build:
      context: .
      target: dev
    environment:
      FLASK_APP: "/var/lib/reuse-api/reuse_api"
      FLASK_RUN_HOST: "0.0.0.0"
      FORMS_FILE: "${FORMS_FILE:-repos.json}"
      FORMS_URL: "http://forms:8080/email"
      REUSE_API: "reuse-api-worker"
      SECRET_KEY: "${SECRET_KEY:-verysecretkey}"
      ADMIN_KEY: "${ADMIN_KEY:-myadminkey}"
    volumes:
      - ./reuse_api:/var/lib/reuse-api/reuse_api
      - ./forms/store/reuse-api/:/var/lib/reuse-api/forms/:ro
    ports:
      - "27000:8000"
    networks:
      - default
      - forms_default
    command: "flask --debug run"

networks:
  forms_default:
    external: true
