# SPDX-FileCopyrightText: 2019 Free Software Foundation Europe e.V.
#
# SPDX-License-Identifier: GPL-3.0-or-later

services:
  reuse-api:
    container_name: reuse-api
    image: reuse-api
    restart: always
    build:
      context: .
      target: prod
    environment:
      FORMS_FILE: "/var/lib/reuse-api/forms/repos.json"
      SECRET_KEY: "${SECRET_KEY}"
      ADMIN_KEY: "${ADMIN_KEY}"
      SSH_PORT: 11122
    volumes:
      - "${VM_VOLUME_PATH:-/srv/reuse-api}:${CONTAINER_VOLUME_PATH:-/var/lib/reuse-api}"
      - "/srv/forms/reuse-api:/var/lib/reuse-api/forms:ro" # this file gets updated by forms
    ports:
      - "6360:8000"
    labels:
      proxy.host: "api.reuse.software"
      proxy.port: "6360"
    logging:
      driver: "json-file"
      options:
        max-file: 5
        max-size: 100m
