# SPDX-FileCopyrightText: 2019 Free Software Foundation Europe e.V.
#
# SPDX-License-Identifier: GPL-3.0-or-later

[[source]]
name = "PyPi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
email-validator = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
gunicorn = "*"
requests = "*"
psycopg2-binary = "*"

[dev-packages]
black = "*"
isort = "*"
pylama = "*"
pytest = "*"
pytest-cov = "*"
pytest-flask = "*"
pytest-mock = "*"
requests-mock = "*"
ruff = "*"

[requires]
python_version = "3.11"
