# SPDX-FileCopyrightText: 2019 Free Software Foundation Europe e.V.
#
# SPDX-License-Identifier: GPL-3.0-or-later

[requires]
python_version = "3.14"

[[source]]
name = "PyPi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
email-validator = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
gunicorn = "*"
requests = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
requests-mock = "*"
ruff = "*"
