{% extends "base/base.html" %}

{% block title %}{{project_name}} | REUSE API{% endblock %}

{% block content %}
    <h1>REUSE compliance of {{project_name}}</h1>
    {% if status == "checking" %}
    <p>
      The initial check for REUSE compliance has not yet been finished.
      Please refresh the page in a few seconds.
    </p>
    {% else %}
    <p>
      {% if status == "compliant" %}
      Congratulations, <em>{{url}}</em> is REUSE compliant!
      {% elif status == "non-compliant" %}
      Unfortunately, <em>{{url}}</em> is <strong>not</strong> REUSE compliant!
      {% endif %}
    </p>

    <h2>Badge</h2>
    <p>
      <img src="{{badge}}"/>
    </p>
    <p>
      To add the badge to your project's <code>README.md</code> file,
      use the following snippet:
    </p>
    <pre>[![REUSE compliant]({{badge}})]({{info}})</pre>

    <h2>Parseable JSON</h2>
    <p>
      All information about the latest compliance check can also be
      accessed via a <a href="{{json}}">machine-parsable JSON file</a>.
    </p>

    <h2>Last lint output</h2>
    <p>
      Commit <code>{{hash}}</code> was checked on {{last_access}} with
      the following result:
    </p>
    <pre class="pre-scrollable">{{lint_output}}</pre>
    {% endif %}

{% endblock %}
