{% extends "base/base.html" %}

{% block title %}Compliant projects | REUSE API{% endblock %}

{% block content %}
<div class="table-responsive">
  <h1>Compliant Projects</h1>

  <p class="lead">
    Of all repositories registered with this service {{ compliant_list.total }} are
    successfully following the REUSE best practices. You can view them below,
    sorted by their last check.
  </p>

  <table class="table table-striped registered">
    <tr>
      <th>Repository URL</th>
      <th>Details</th>
      <th>Repository</th>
    </tr>
    {%  for repo in compliant_list %}
      <tr>
        <td>{{ repo }}</td>
        <td><a href="/info/{{ repo }}"><i class="fas fa-info-circle"></i></a></td>
        <td>
          <a href="https://{{ repo }}" target="_blank"><i class="fas fa-external-link-alt"></i></a>
        </td>
      </tr>
    {% endfor %}
      <tr>
        <td></td>
        <td>
          {% if pg != 1 %}
            <a href="{{ url_for('html.projects', page=pg-1) }}">Previous</a>
          {% endif %}
        </td>
        <td>
          {% if has_next == True %}
            <a href="{{ url_for('html.projects', page=pg+1) }}">Next</a>
          {% endif %}
        </td>
      </tr>
    </table>
  </div>
{% endblock %}
