<!--
  SPDX-License-Identifier: MIT
  SPDX-FileCopyrightText: 2020 Free Software Foundation Europe e.V. <https://fsfe.org>
-->

<div class="orgs">
  <p class="text-muted">Selected supporters and adopters:</p>
  <ul>

    <li class="org">
      <img src="https://reuse.software/img/organisations/gray/kde.png" title="KDE" >
    </li>

    <li class="org">
      <img src="https://reuse.software/img/organisations/gray/linux.png" title="Linux Kernel" />
    </li>
    
    <li class="org">
      <img src="https://reuse.software/img/organisations/gray/ngi0.png" title="Next Generation Internet Zero" width="150px" height="auto" />
    </li>
    
    <li class="org">
      <img src="https://reuse.software/img/organisations/gray/siemens.png" title="Siemens" width="200px" height="auto" />
    </li>
    
  </ul>
</div>
