<div class="social">
  <ul class="social-links">
    <li><a href="https://git.fsfe.org/reuse" title="Git" target="_blank"><i class="fab fa-git"></i></a></li>
    <li><a href="https://github.com/search?q=topic%3Areuse&#43;org%3Afsfe&amp;type=Repositories" title="Github" target="_blank"><i class="fab fa-github"></i></a></li>
    <li><a href="https://lists.fsfe.org/mailman/listinfo/reuse" title="Email" target="_blank"><i class="fa fa-envelope"></i></a></li>
    <li><a href="https://mastodon.social/@fsfe" title="Mastodon" rel="me" target="_blank"><i class="fab fa-mastodon"></i></a></li>
    <li><a href="https://twitter.com/fsfe" title="Twitter" target="_blank"><i class="fab fa-twitter"></i></a></li>
  </ul>
</div>
