/* SPDX-FileCopyrightText: 2019 Free Software Foundation Europe e.V.
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

.small {
  line-height: initial;
}

.form-control, .input-group-addon {
  font-size: inherit;
  height: auto;
}
